<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Local Sphere - Your Local Guide</title>
        <link href="{% static 'css/output.css' %}" rel="stylesheet">
        <link href="../static/css/output.css" rel="stylesheet">
        <link rel="icon" type="image/svg+xml" href="../static/favicon.svg">
        <style>
            input[type="date"]::-webkit-calendar-picker-indicator {
                background: transparent;
                bottom: 0;
                color: transparent;
                cursor: pointer;
                height: auto;
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
                width: auto;
            }
        </style>
    </head>
    <body class="bg-custom-white">
    <main role="main" class="flex flex-col mb-10 min-h-screen">
        <header class="relative z-50">
            <nav class="mx-0 sm:mx-4 lg:mx-10 flex max-w-screen items-center justify-between p-6 lg:px-8"
                 aria-label="header">
                <a href="{% url 'index' %}" class="-m-1.5 p-1.5">
                    <span class="sr-only">Local Sphere</span>
                    <img class="h-15 w-auto" src="../static/logo1.svg" alt="">
                </a>
                <div id="openMobileMenu" class="flex lg:hidden">
                    <button type="button"
                            class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Open main menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                        </svg>
                    </button>
                </div>
                <div class="hidden lg:flex lg:gap-8 lg:items-center">
                    <!-- Explore Button -->
                    
                    <!-- SphereAi -->
                    <a href="{% url 'SphereAi' %}"
                       class="font-mulish text-base font-bold text-custom-blue subpixel-antialiased hover:font-extrabold cursor-pointer">
                        SphereAi
                    </a>
                    <!-- Company Dropdown -->
                    <div class="relative">
                        <button id="companyButton" type="button"
                                class="flex items-center justify-center gap-x-1 text-base font-mulish text-custom-blue font-bold hover:font-extrabold subpixel-antialiased cursor-context-menu"
                                aria-label="false">
                            Company
                            <svg id="dropdownIcon" class="size-5 flex-none color-custom-blue" viewBox="0 0 20 20"
                                 fill="currentColor" aria-hidden="true">
                                <path id="arrowPath" fill-rule="evenodd"
                                      d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                      clip-rule="evenodd"/>
                            </svg>
                        </button>
                        <div id="companyDropdownMenu"
                             class="hidden absolute top-full -left-20 items-center justify-center mt-6 w-max max-w-md rounded-3xl bg-custom-blue ring-1 shadow-lg ring-gray-900/5 transition duration-300 ease-in-out">
                            <div class="p-4">
                                <div class="group relative flex items-center gap-x-6 rounded-xl p-4 text-sm/6 transition duration-250 ease-in-out hover:bg-custom-white">
                                    <div class="flex-auto">
                                        <a href="{% url 'about' %}"
                                           class="font-poppins text-base block text-center font-semibold text-white hover:text-black">
                                            About Us
                                            <span class="absolute inset-0"></span>
                                        </a>
                                        <p class="group-font-mulish mt-2 font-medium text-white text-center text-xs group-hover:text-black subpixel-antialiased">
                                            Meet the Team Behind Local Sphere.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <div>
                            {% if user.is_authenticated %}
                                <!-- When Logged In: Show Profile with Dropdown -->
                                <div class="relative">
                                    <button id="userDropdownButton" type="button"
                                        class="flex items-center justify-center rounded-md p-2.5 bg-custom-blue text-white outline transition duration-300 ease-in-out hover:bg-custom-white hover:text-custom-blue cursor-pointer">
                                        <img src=".{% if user.picture %}{{ user.picture.url }}{% else %}/static/defaultProfile.png{% endif %}" alt="Profile Picture" class="w-8 h-8 rounded-full object-cover mr-2">
                                        <span class="font-poppins text-base text-sm/6 font-medium pr-2">{{ user.first_name }} {{ user.last_name }}</span>
                                        <svg id="userDropdownIcon" class="size-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                            <path id="userArrowPath" fill-rule="evenodd"
                                                d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                                clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                        
                                    <!-- Dropdown Menu -->
                                    <div id="userDropdownMenu"
                                        class="hidden absolute top-full right-0 mt-2 w-40 rounded-lg bg-white shadow-lg ring-1 ring-gray-900/5 transition duration-300 ease-in-out">
                                        <a href="{% url 'logout' %}"
                                            class="block w-full text-center px-4 py-2 text-sm font-semibold text-custom-blue hover:bg-gray-100">
                                            Logout
                                        </a>
                                    </div>
                                </div>
                                {% else %}
                                <!-- When Not Logged In: Show Log In and "Start Exploring" Side by Side -->
                                <div class="flex items-center gap-4">
                                    <!-- Log In Button -->
                                    <a href="{% url 'login' %}"
                                        class="font-mulish text-base font-bold text-custom-blue hover:font-extrabold">
                                        Log in
                                    </a>
    
                                    <!-- "Start Exploring" Button -->
                                    <a href="{% url 'signup' %}"
                                        class="flex items-center justify-center rounded-md p-2.5 bg-custom-blue text-white outline transition duration-300 ease-in-out hover:bg-custom-white hover:text-custom-blue cursor-pointer">
                                        <span class="font-poppins text-base text-sm/6 font-medium pr-2">Start Exploring</span>
                                        <span class="font-mulish text-base text-sm/6 font-medium pr-2">It's Free</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
        
            <!-- Mobile menu, show/hide based on menu open state. -->
            <div id="mobileMenu" class="lg:hidden hidden" role="dialog" aria-modal="true">
                <div class="fixed inset-0 z-10"></div>
                <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-custom-white px-6 py-6 sm:max-w sm:ring-1 sm:ring-gray-900/10 transition duration-300 ease-in-out">
                    <div class="flex items-center justify-between">
                        <a href="#" class="-m-1.5 p-1.5">
                            <span class="sr-only">Local Sphere</span>
                            <img class="h-15 w-auto" src="../static/logo1.svg" alt="">
                        </a>
                        <button id="closeMobileMenu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                            <span class="sr-only">Close menu</span>
                            <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                 aria-hidden="true" data-slot="icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                            </svg>
                        </button>
                    </div>
                    <div class="mt-6 flow-root">
                        <div class="-my-6 divide-y divide-gray-500/10">
                            <div class="space-y-2 py-6">
                                <a href="#"
                                   class="font-mulish -mx-3 block rounded-lg px-3 py-2 text-base/7 font-bold text-custom-blue hover:bg-gray-50">Explore</a>
                                <a href="{% url 'SphereAi' %}"
                                   class="font-mulish -mx-3 block rounded-lg px-3 py-2 text-base/7 font-bold text-custom-blue hover:bg-gray-50">SphereAi</a>
                                <a href="{% url 'login' %}"
                                   class="font-mulish -mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-bold text-custom-blue hover:bg-gray-50">Log
                                    in</a>
                                <div class="-mx-3">
                                    <button id="mobileCompanyButton" type="button"
                                            class="font-mulish flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-bold text-custom-blue hover:bg-gray-50"
                                            aria-controls="disclosure-1" aria-expanded="false">
                                        Company
                                        <svg id="mobileDropdownIcon" class="size-5 flex-none" viewBox="0 0 20 20"
                                             fill="currentColor" aria-hidden="true" data-slot="icon">
                                            <path id="mobileArrowPath" fill-rule="evenodd"
                                                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                                  clip-rule="evenodd"/>
                                        </svg>
                                    </button>
                                    <div id="mobileCompanyDropdown"
                                         class="hidden mt-2 space-y-2 transition duration-300 ease-in-out">
                                        <a href="{% url 'about' %}"
                                           class="font-poppins block rounded-lg py-2 pr-3 pl-6 text-sm/7 font-semibold text-custom-blue hover:bg-gray-50">About
                                            Us</a>
                                    </div>
                                </div>
                            </div>
                            <div class="py-6">
                                <div>
                                    <button class="flex items-center justify-center rounded-md p-2.5 bg-custom-blue text-white outline transition duration-300 ease-in-out hover:bg-custom-white hover:text-custom-blue cursor-pointer">
                                        <span class="font-poppins text-base text-sm/6 font-medium pr-2">Start Exploring</span>
                                        <span class="font-mulish text-base text-sm/6 font-medium pr-2">It's Free</span>
                                        <span aria-hidden="true">&rarr;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <!-- NEW PAGE COPY THIS UP  -->

     <!-- Hero Section -->
     <section class="relative mr-5 ml-5 md:mr-10 md:ml-10 lg:mr-15 lg:ml-15 max-w-9xl sm:px-6 lg:px-8 mx-auto overflow-hidden lg:min-h-[80vh] lg:rounded-4xl rounded-4xl">
        <!-- Background Image -->
        <img src="https://images.unsplash.com/photo-1554216564-3b2db87a49d1?q=80&w=5070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Chicago Theatre"
             class="absolute inset-0 w-full h-full object-cover"/>
        <div class="absolute inset-0 bg-black/30"></div>

         <div class="absolute inset-0 flex flex-col justify-center items-center font-poppins hidden lg:inline-flex 2xl:inline-flex">
             <div class="relative z-10 bg-white rounded-4xl shadow-lg p-8 w-full max-w-md mx-auto text-center flex flex-col">
                 <img src="../static/logo2.svg" alt="Local Sphere Logo" class="w-32 mx-auto">
                 <h1 class="font-mulish text-2xl font-extrabold text-custom-blue mt-2">Welcome Back, Explorer</h1>
                 <p class="font-normal text-gray-500 text-sm mt-2">Back to Building Better Days</p>
                 {% if messages %}
                <div class="mt-4 p-4 bg-red-500 border border-red-700 text-white font-semibold rounded-lg shadow-md">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                 <!-- Login Form -->
                 <form method="POST" action="{% url 'login' %}" class="mt-6 space-y-4 w-full">
                     {% csrf_token %}

                     <div class="text-left">
                         <label class="text-[#A1A1A1] font-light text-sm">Email Address or Username</label>
                         <input type="text" name="username" placeholder="john.doe@example.com"
                                class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue"
                                required>
                     </div>

                     <div class="text-left relative">
                         <label class="text-[#A1A1A1] font-light text-sm">Password</label>
                         <input type="password" name="password" placeholder="Enter Your Password"
                                class="font-mulish font-medium w-full border rounded-2xl border-[#DFDFDF] items-center p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue"
                                required>
                     </div>

                     <button type="submit" class="w-full bg-custom-blue text-white font-light mt-2 py-3 rounded-2xl hover:bg-blue-700 transition cursor-pointer">
                         Sign In
                     </button>

                     <p class="text-gray-500 text-sm mt-6">
                         Don’t have an account? <a href="{% url 'signup' %}" class="text-custom-blue font-semibold">Sign Up</a>
                     </p>
                     <a href="{% url 'forgot' %}" class="text-custom-blue text-sm mt-4 font-semibold">Forgot Password?</a>
                 </form>
             </div>
         </div>

         <div class="relative flex flex-col h-[80vh] justify-center lg:hidden 2xl:hidden p-6">
             <div class="relative z-10 bg-white rounded-4xl shadow-lg p-8 w-full max-w-md mx-auto justify-center text-center flex flex-col">
                 <img src="../static/logo2.svg" alt="Local Sphere Logo" class="w-32 mx-auto">
                 <h1 class="font-mulish text-2xl font-extrabold text-custom-blue mt-2">Welcome Back, Explorer</h1>
                 <p class="font-normal text-gray-500 text-sm mt-2">Back to Building Better Days</p>
                 {% if messages %}
                 <ul class="messages">
                     {% for message in messages %}
                     <li class="{{ message.tags }}">{{ message }}</li>
                     {% endfor %}
                 </ul>
                 {% endif %}
                 <!-- Login Form -->
                 <form method="POST" action="{% url 'login' %}" class="mt-6 space-y-4 w-full">
                     {% csrf_token %}

                     <div class="text-left">
                         <label class="text-[#A1A1A1] font-light text-sm">Email Address or Username</label>
                         <input type="text" name="username" placeholder="john.doe@example.com"
                                class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue"
                                required>
                     </div>

                     <div class="text-left relative">
                         <label class="text-[#A1A1A1] font-light text-sm">Password</label>
                         <input type="password" name="password" placeholder="Enter Your Password"
                                class="font-mulish font-medium w-full border rounded-2xl border-[#DFDFDF] items-center p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue"
                                required>
                     </div>

                     <button type="submit" class="w-full bg-custom-blue text-white font-light mt-2 py-3 rounded-2xl hover:bg-blue-700 transition cursor-pointer">
                         Sign In
                     </button>

                     <p class="text-gray-500 text-sm mt-6">
                         Don’t have an account? <a href="{% url 'signup' %}" class="text-custom-blue font-semibold">Sign Up</a>
                     </p>
                     <a href="{% url 'forgot' %}" class="text-custom-blue text-sm mt-4 font-semibold">Forgot Password?</a>
                 </form>
             </div>
         </div>
     </section>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("companyButton");
        const dropdownMenu = document.getElementById("companyDropdownMenu");
        const dropdownIcon = document.getElementById("dropdownIcon");
        const arrowPath = document.getElementById("arrowPath");

        toggleButton.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("hidden")) {
                // Show dropdown with animation
                dropdownMenu.classList.remove("hidden");
                setTimeout(() => {
                    dropdownMenu.classList.remove("opacity-0", "scale-95");
                    dropdownMenu.classList.add("opacity-100", "scale-100");
                }, 10);

                // Rotate the arrow up
                dropdownIcon.classList.add("rotate-180");
            } else {
                // Hide dropdown with animation
                dropdownMenu.classList.remove("opacity-100", "scale-100");
                dropdownMenu.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    dropdownMenu.classList.add("hidden");
                }, 300); // Wait for animation to complete before hiding

                // Rotate the arrow back down
                dropdownIcon.classList.remove("rotate-180");
            }
        });

        // Hide dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!toggleButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove("opacity-100", "scale-100");
                dropdownMenu.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    dropdownMenu.classList.add("hidden");
                }, 300);

                // Reset arrow to down position
                dropdownIcon.classList.remove("rotate-180");
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const mobileDropdownButton = document.getElementById("mobileCompanyButton");
        const mobileDropdown = document.getElementById("mobileCompanyDropdown");
        const mobileDropdownIcon = document.getElementById("mobileDropdownIcon");
        const mobileArrowPath = document.getElementById("mobileArrowPath");

        mobileDropdownButton.addEventListener("click", function () {
            if (mobileDropdown.classList.contains("hidden")) {
                // Show dropdown with animation
                mobileDropdown.classList.remove("hidden");
                setTimeout(() => {
                    mobileDropdown.classList.remove("opacity-0", "scale-95");
                    mobileDropdown.classList.add("opacity-100", "scale-100");
                }, 10);

                // Rotate the arrow up
                mobileDropdownIcon.classList.add("rotate-180");
            } else {
                // Hide dropdown with animation
                mobileDropdown.classList.remove("opacity-100", "scale-100");
                mobileDropdown.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    mobileDropdown.classList.add("hidden");
                }, 300); // Wait for animation to complete before hiding

                // Rotate the arrow back down
                mobileDropdownIcon.classList.remove("rotate-180");
            }
        });

        // Hide dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!mobileDropdownButton.contains(event.target) && !mobileDropdown.contains(event.target)) {
                mobileDropdown.classList.remove("opacity-100", "scale-100");
                mobileDropdown.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    mobileDropdown.classList.add("hidden");
                }, 300);

                // Reset arrow to down position
                mobileDropdownIcon.classList.remove("rotate-180");
            }
        });
    });


    const userDropdownButton = document.getElementById("userDropdownButton");
        const userDropdownMenu = document.getElementById("userDropdownMenu");

        userDropdownButton.addEventListener("click", function () {
            userDropdownMenu.classList.toggle("hidden");
        });

        // Close dropdown if clicking outside
        document.addEventListener("click", function (event) {
            if (!userDropdownButton.contains(event.target) && !userDropdownMenu.contains(event.target)) {
                userDropdownMenu.classList.add("hidden");
            }
        });


    document.addEventListener("DOMContentLoaded", function () {
    const mobileMenu = document.getElementById("mobileMenu");
    const openMobileMenu = document.getElementById("openMobileMenu");
    const closeMobileMenu = document.getElementById("closeMobileMenu");
    const mobileBackdrop = document.getElementById("mobileBackdrop");

        // Open mobile menu when clicking the hamburger button
    openMobileMenu.addEventListener("click", function () {
        mobileMenu.classList.remove("hidden");
    });

        // Close mobile menu when clicking the close button
    closeMobileMenu.addEventListener("click", function () {
        mobileMenu.classList.add("hidden");
    });

        // Close mobile menu when clicking outside (on the backdrop)
    mobileBackdrop.addEventListener("click", function () {
        mobileMenu.classList.add("hidden");
    });
        });
</script>
</main>
</body>
</html>