<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local Sphere - Your Local Guide</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="../static/css/output.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="../static/favicon.svg">
    <style>
        input[type="date"]::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
    </style>
</head>
<body class="bg-custom-white">
<main role="main" class="flex flex-col mb-10 min-h-screen">
    <header class="relative z-50">
        <nav class="mx-0 sm:mx-4 lg:mx-10 flex max-w-screen items-center justify-between p-6 lg:px-8"
             aria-label="header">
            <a href="{% url 'index' %}" class="-m-1.5 p-1.5">
                <span class="sr-only">Local Sphere</span>
                <img class="h-15 w-auto" src="../static/logo1.svg" alt="">
            </a>
            <div id="openMobileMenu" class="flex lg:hidden">
                <button type="button"
                        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                    <span class="sr-only">Open main menu</span>
                    <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                         aria-hidden="true" data-slot="icon">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"/>
                    </svg>
                </button>
            </div>
            <div class="hidden lg:flex lg:gap-8 lg:items-center">
                <a href="#"
                   class="font-mulish text-base font-bold text-custom-blue subpixel-antialiased hover:font-extrabold cursor-pointer">Explore</a>
                <a href="SphereAi"
                   class="font-mulish text-base font-bold text-custom-blue subpixel-antialiased hover:font-extrabold cursor-pointer">SphereAi</a>
                <div class="relative">
                    <button id="companyButton" type="button"
                            class="flex items-center justify-center gap-x-1 text-base font-mulish text-custom-blue font-bold hover:font-extrabold subpixel-antialiased cursor-context-menu"
                            aria-label="false">
                        Company
                        <svg id="dropdownIcon" class="size-5 flex-none color-custom-blue" viewBox="0 0 20 20"
                             fill="currentColor" aria-hidden="true" data-slot="icon">
                            <path id="arrowPath" fill-rule="evenodd"
                                  d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </button>
                    <div id="companyDropdownMenu"
                         class="hidden absolute top-full -left-20 items-center justify-center mt-6 w-max max-w-md rounded-3xl bg-custom-blue ring-1 shadow-lg ring-gray-900/5 transition duration-300 ease-in-out">
                        <div class="p-4">
                            <div class="group relative flex items-center gap-x-6 rounded-xl p-4 text-sm/6 transition duration-250 ease-in-out hover:bg-custom-white">
                                <div class="flex-auto">
                                    <a href="#"
                                       class="font-poppins text-base block text-center font-semibold text-white hover:text-black">
                                        About Us
                                        <span class="absolute inset-0"></span>
                                    </a>
                                    <p class="group-font-mulish mt-2 font-medium text-white text-center text-xs group-hover:text-black subpixel-antialiased">
                                        Meet the Team Behind Local Sphere.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="{% url 'planConfirmation' %}"
                   class="font-mulish text-base font-bold text-custom-blue hover:font-extrabold">Plan Confirmation
                    (Testing)</a>
                <a href="{% url 'login' %}"
                   class="font-mulish text-base font-bold text-custom-blue hover:font-extrabold">Log in</a>
                <div>
                    <button class="flex items-center justify-center rounded-md p-2.5 bg-custom-blue text-white outline transition duration-300 ease-in-out hover:bg-custom-white hover:text-custom-blue cursor-pointer">
                        <span class="font-poppins text-base text-sm/6 font-medium pr-2">Start Exploring</span>
                        <span class="font-mulish text-base text-sm/6 font-medium pr-2">It's Free</span>
                        <span aria-hidden="true">&rarr;</span>
                    </button>
                </div>
            </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div id="mobileMenu" class="lg:hidden hidden" role="dialog" aria-modal="true">
            <div class="fixed inset-0 z-10"></div>
            <div class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-custom-white px-6 py-6 sm:max-w sm:ring-1 sm:ring-gray-900/10 transition duration-300 ease-in-out">
                <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Local Sphere</span>
                        <img class="h-15 w-auto" src="../static/logo1.svg" alt="">
                    </a>
                    <button id="closeMobileMenu" type="button" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg class="size-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                             aria-hidden="true" data-slot="icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"/>
                        </svg>
                    </button>
                </div>
                <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <a href="#"
                               class="font-mulish -mx-3 block rounded-lg px-3 py-2 text-base/7 font-bold text-custom-blue hover:bg-gray-50">Explore</a>
                            <a href="{% url 'SphereAi' %}"
                               class="font-mulish -mx-3 block rounded-lg px-3 py-2 text-base/7 font-bold text-custom-blue hover:bg-gray-50">SphereAi</a>
                            <a href="{% url 'login' %}"
                               class="font-mulish -mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-bold text-custom-blue hover:bg-gray-50">Log
                                in</a>
                            <div class="-mx-3">
                                <button id="mobileCompanyButton" type="button"
                                        class="font-mulish flex w-full items-center justify-between rounded-lg py-2 pr-3.5 pl-3 text-base/7 font-bold text-custom-blue hover:bg-gray-50"
                                        aria-controls="disclosure-1" aria-expanded="false">
                                    Company
                                    <svg id="mobileDropdownIcon" class="size-5 flex-none" viewBox="0 0 20 20"
                                         fill="currentColor" aria-hidden="true" data-slot="icon">
                                        <path id="mobileArrowPath" fill-rule="evenodd"
                                              d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z"
                                              clip-rule="evenodd"/>
                                    </svg>
                                </button>
                                <div id="mobileCompanyDropdown"
                                     class="hidden mt-2 space-y-2 transition duration-300 ease-in-out">
                                    <a href="#"
                                       class="font-poppins block rounded-lg py-2 pr-3 pl-6 text-sm/7 font-semibold text-custom-blue hover:bg-gray-50">About
                                        Us</a>
                                </div>
                            </div>
                        </div>
                        <div class="py-6">
                            <div>
                                <button class="flex items-center justify-center rounded-md p-2.5 bg-custom-blue text-white outline transition duration-300 ease-in-out hover:bg-custom-white hover:text-custom-blue cursor-pointer">
                                    <span class="font-poppins text-base text-sm/6 font-medium pr-2">Start Exploring</span>
                                    <span class="font-mulish text-base text-sm/6 font-medium pr-2">It's Free</span>
                                    <span aria-hidden="true">&rarr;</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- NEW PAGE COPY THIS UP  -->

    <!-- Hero Section -->
    <!--     <section class="relative mr-5 ml-5 md:mr-10 md:ml-10 lg:mr-15 lg:ml-15 max-w-9xl sm:px-6 lg:px-8 mx-auto overflow-hidden lg:min-h-[80vh] lg:rounded-4xl rounded-2xl">-->
    <!--        &lt;!&ndash; Background Image &ndash;&gt;-->
    <!--        <img src="{% static 'new.jpg' %}"-->
    <!--            alt="Chicago Skyline"-->
    <!--            class="absolute inset-0 w-full h-cen object-cover"/>-->
    <!--            <div class="absolute inset-0 flex items-center justify-center px-4">-->

    <!--        &lt;!&ndash; White box &ndash;&gt;-->

    <!--        <div class="relative z-10 bg-white rounded-2xl shadow-lg p-6 w-[400px] text-center min-h-[70vh] flex flex-col justify-between">-->
    <!--            <img src="{% static 'logo1.svg' %}" alt="Local Sphere Logo" class="w-18 mx-auto">-->
    <!--            <h1 class="text-3xl font-semibold text-blue-600 mt-4">Start Creating Exciting Night Outs</h1>-->
    <!--            <p class="text-gray-500 text-xs">Your Smart City Companion Starts Here</p>-->

    <!--            &lt;!&ndash; Sign Up Form &ndash;&gt;-->
    <!--            <form class="mt-6 space-y-4">-->
    <!--                &lt;!&ndash; Name &ndash;&gt;-->
    <!--                <div class="text-left">-->
    <!--                    <label class="text-gray-700 font-medium text-sm">Name</label>-->
    <!--                    <input type="text" placeholder="John Doe" class="w-full border rounded-lg p-2 mt-1 focus:ring focus:ring-blue-400 text-sm">-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Username &ndash;&gt;-->
    <!--                <div class="text-left">-->
    <!--                    <label class="text-gray-700 font-medium text-sm">Username</label>-->
    <!--                    <input type="text" placeholder="JohnDoe" class="w-full border rounded-lg p-2 mt-1 focus:ring focus:ring-blue-400 text-sm">-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Email address &ndash;&gt;-->
    <!--                <div class="text-left">-->
    <!--                    <label class="text-gray-700 font-medium text-sm">Email Address</label>-->
    <!--                    <input type="email" placeholder="johndoe@gmail.com" class="w-full border rounded-lg p-2 mt-1 focus:ring focus:ring-blue-400 text-sm">-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Mobile Number &ndash;&gt;-->
    <!--                <div class="text-left">-->
    <!--                    <label class="text-gray-700 font-medium text-sm">Mobile Number</label>-->
    <!--                    <input type="tel" placeholder="(205) 555-0100" class="w-full border rounded-lg p-2 mt-1 focus:ring focus:ring-blue-400 text-sm">-->
    <!--                </div>-->

    <!--                &lt;!&ndash; Password &ndash;&gt;-->
    <!--                <div class="text-left">-->
    <!--                    <label class="text-gray-700 font-medium text-sm">Password</label>-->
    <!--                    <input type="password" placeholder="********" class="w-full border rounded-lg p-2 mt-1 focus:ring focus:ring-blue-400 text-sm">-->
    <!--                </div>-->

    <!--                <button type="submit" class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition text-sm">-->
    <!--                    Sign Up-->
    <!--                </button>-->

    <!--                <div class="flex items-center justify-center gap-4 mt-4">-->
    <!--                    <button class="bg-black text-white py-2 px-4 rounded-lg flex items-center gap-2 hover:bg-gray-800 text-sm">-->
    <!--                        <i class="fab fa-google">G</i>-->
    <!--                    </button>-->
    <!--                    <span class="text-sm">or</span>-->
    <!--                    <button class="bg-black text-white py-2 px-4 rounded-lg flex items-center gap-2 hover:bg-gray-800 text-sm">-->
    <!--                        <i class="fab fa-apple"></i>-->
    <!--                    </button>-->
    <!--                </div>-->

    <!--                <p class="text-gray-500 text-sm mt-4">Already have an account? -->
    <!--                    <a href="{% url 'login' %}" class="text-blue-600 font-semibold">Log In</a>-->
    <!--                </p>-->
    <!--            </form>-->
    <!--        </div>-->
    <!--    </section>-->
    <section class="relative flex flex-col mr-5 ml-5 md:mr-10 md:ml-10 lg:mr-15 lg:ml-15 max-w-9xl sm:px-6 lg:px-8 mx-auto overflow-y-auto lg:m-h-[85vh] lg:rounded-4xl rounded-4xl">
        <!-- Background Image -->
        <img src="https://images.unsplash.com/photo-1636753260398-c0ce9f1268fa?q=80&w=2969&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Chicago Skyline At Night"
             class="absolute inset-0 w-full h-full object-cover"/>
        <div class="absolute inset-0 bg-black/30"></div>

        <div class="relative inset-0 flex flex-col justify-center items-center font-poppins hidden lg:inline-flex 2xl:inline-flex p-8">
            <div class="relative bg-white rounded-4xl shadow-lg p-8 w-full max-w-md mx-auto text-center flex flex-col">
                <img src="../static/logo2.svg" alt="Local Sphere Logo" class="w-32 mx-auto">
                <h1 class="font-mulish text-2xl font-extrabold text-custom-blue mt-2">Start Creating Exciting Night Outs</h1>
                <p class="font-normal text-gray-500 text-sm mt-2">Your Smart City Companion Starts Here</p>

                <!-- Login Form -->
                <form class="mt-6 space-y-4 w-full">
                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">First Name</label>
                        <input type="text" placeholder="John" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Last Name</label>
                        <input type="text" placeholder="Doe" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Username</label>
                        <input type="text" placeholder="johndoe" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Email</label>
                        <input type="email" placeholder="johndoe@gmail.com" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Phone Number (Optional)</label>
                        <input type="number" placeholder="(999)-999-9999" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue">
                    </div>

                    <div class="text-left relative">
                        <label class="text-[#A1A1A1] font-light text-sm">Password</label>
                        <div class="relative">
                            <input type="password" placeholder="Enter Your Password" class="font-mulish font-medium w-full border rounded-2xl border-[#DFDFDF] items-center p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                        </div>
                    </div>

                    <button type="submit" class="w-full bg-custom-blue text-white font-light mt-2 p-3 rounded-2xl hover:bg-blue-700 transition cursor-pointer">
                        Sign Up
                    </button>

                    <div class="flex items-center justify-between w-full gap-4 mt-4">
                        <button class="bg-black w-full h-14 text-white py-2 px-6 rounded-2xl flex items-center justify-center gap-2 hover:bg-gray-800 cursor-pointer">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="2443" height="2500" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262" id="google">
                                <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                                <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                                <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                                <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                            </svg>
                        </button>
                        <span class="text-gray-500">or</span>
                        <button class="bg-black w-full h-14 text-white py-2 px-6 rounded-2xl flex items-center justify-center gap-2 hover:bg-gray-800 cursor-pointer">
                            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="apple">
                                <path d="M14.94,5.19A4.38,4.38,0,0,0,16,2,4.44,4.44,0,0,0,13,3.52,4.17,4.17,0,0,0,12,6.61,3.69,3.69,0,0,0,14.94,5.19Zm2.52,7.44a4.51,4.51,0,0,1,2.16-3.81,4.66,4.66,0,0,0-3.66-2c-1.56-.16-3,.91-3.83.91s-2-.89-3.3-.87A4.92,4.92,0,0,0,4.69,9.39C2.93,12.45,4.24,17,6,19.47,6.8,20.68,7.8,22.05,9.12,22s1.75-.82,3.28-.82,2,.82,3.3.79,2.22-1.24,3.06-2.45a11,11,0,0,0,1.38-2.85A4.41,4.41,0,0,1,17.46,12.63Z" fill="#ffffff" class="color000000 svgShape"></path>
                            </svg>
                        </button>
                    </div>

                    <p class="text-gray-500 text-sm mt-6">
                        Already have an account? <a href="{% url 'login' %}" class="text-custom-blue font-semibold">Sign In</a>
                    </p>
                </form>
            </div>
        </div>

        <div class="relative flex flex-col h-fit justify-center lg:hidden 2xl:hidden p-6">
            <div class="relative z-10 bg-white rounded-4xl shadow-lg p-8 w-full max-w-md mx-auto justify-center text-center flex flex-col">
                <img src="../static/logo2.svg" alt="Local Sphere Logo" class="w-32 mx-auto">
                <h1 class="font-mulish text-2xl font-extrabold text-custom-blue mt-2">Welcome Back, Explorer</h1>
                <p class="font-normal text-gray-500 text-sm mt-2">Back to Building Better Days</p>

                <!-- Login Form -->
                <form class="mt-6 space-y-4 w-full">
                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">First Name</label>
                        <input type="text" placeholder="John" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Last Name</label>
                        <input type="text" placeholder="Doe" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Username</label>
                        <input type="text" placeholder="johndoe" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Email</label>
                        <input type="email" placeholder="johndoe@gmail.com" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                    </div>

                    <div class="text-left">
                        <label class="text-[#A1A1A1] font-light text-sm">Phone Number (Optional)</label>
                        <input type="number" placeholder="(999)-999-9999" class="font-mulish font-normal w-full rounded-2xl border border-[#DFDFDF] p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue">
                    </div>

                    <div class="text-left relative">
                        <label class="text-[#A1A1A1] font-light text-sm">Password</label>
                        <div class="relative">
                            <input type="password" placeholder="Enter Your Password" class="font-mulish font-medium w-full border rounded-2xl border-[#DFDFDF] items-center p-3 mt-1 text-gray-700 focus:ring focus:ring-custom-blue" required>
                        </div>
                    </div>

                    <button type="submit" class="w-full bg-custom-blue text-white font-light mt-2 p-3 rounded-2xl hover:bg-blue-700 transition cursor-pointer">
                        Sign Up
                    </button>

                    <div class="flex items-center justify-between w-full gap-4 mt-4">
                        <button class="bg-black w-full h-14 text-white py-2 px-6 rounded-xl flex items-center justify-center gap-2 hover:bg-gray-800 cursor-pointer">
                            <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" width="2443" height="2500" preserveAspectRatio="xMidYMid" viewBox="0 0 256 262" id="google">
                                <path fill="#4285F4" d="M255.878 133.451c0-10.734-.871-18.567-2.756-26.69H130.55v48.448h71.947c-1.45 12.04-9.283 30.172-26.69 42.356l-.244 1.622 38.755 30.023 2.685.268c24.659-22.774 38.875-56.282 38.875-96.027"></path>
                                <path fill="#34A853" d="M130.55 261.1c35.248 0 64.839-11.605 86.453-31.622l-41.196-31.913c-11.024 7.688-25.82 13.055-45.257 13.055-34.523 0-63.824-22.773-74.269-54.25l-1.531.13-40.298 31.187-.527 1.465C35.393 231.798 79.49 261.1 130.55 261.1"></path>
                                <path fill="#FBBC05" d="M56.281 156.37c-2.756-8.123-4.351-16.827-4.351-25.82 0-8.994 1.595-17.697 4.206-25.82l-.073-1.73L15.26 71.312l-1.335.635C5.077 89.644 0 109.517 0 130.55s5.077 40.905 13.925 58.602l42.356-32.782"></path>
                                <path fill="#EB4335" d="M130.55 50.479c24.514 0 41.05 10.589 50.479 19.438l36.844-35.974C195.245 12.91 165.798 0 130.55 0 79.49 0 35.393 29.301 13.925 71.947l42.211 32.783c10.59-31.477 39.891-54.251 74.414-54.251"></path>
                            </svg>
                        </button>
                        <span class="text-gray-500">or</span>
                        <button class="bg-black w-full h-14 text-white py-2 px-6 rounded-xl flex items-center justify-center gap-2 hover:bg-gray-800 cursor-pointer">
                            <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" id="apple">
                                <path d="M14.94,5.19A4.38,4.38,0,0,0,16,2,4.44,4.44,0,0,0,13,3.52,4.17,4.17,0,0,0,12,6.61,3.69,3.69,0,0,0,14.94,5.19Zm2.52,7.44a4.51,4.51,0,0,1,2.16-3.81,4.66,4.66,0,0,0-3.66-2c-1.56-.16-3,.91-3.83.91s-2-.89-3.3-.87A4.92,4.92,0,0,0,4.69,9.39C2.93,12.45,4.24,17,6,19.47,6.8,20.68,7.8,22.05,9.12,22s1.75-.82,3.28-.82,2,.82,3.3.79,2.22-1.24,3.06-2.45a11,11,0,0,0,1.38-2.85A4.41,4.41,0,0,1,17.46,12.63Z" fill="#ffffff" class="color000000 svgShape"></path>
                            </svg>
                        </button>
                    </div>

                    <p class="text-gray-500 text-sm mt-6">
                        Already have an account? <a href="{% url 'login' %}" class="text-custom-blue font-semibold">Sign In</a>
                    </p>
                </form>
            </div>
        </div>
    </section>
</main>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const toggleButton = document.getElementById("companyButton");
        const dropdownMenu = document.getElementById("companyDropdownMenu");
        const dropdownIcon = document.getElementById("dropdownIcon");
        const arrowPath = document.getElementById("arrowPath");

        toggleButton.addEventListener("click", function () {
            if (dropdownMenu.classList.contains("hidden")) {
                // Show dropdown with animation
                dropdownMenu.classList.remove("hidden");
                setTimeout(() => {
                    dropdownMenu.classList.remove("opacity-0", "scale-95");
                    dropdownMenu.classList.add("opacity-100", "scale-100");
                }, 10);

                // Rotate the arrow up
                dropdownIcon.classList.add("rotate-180");
            } else {
                // Hide dropdown with animation
                dropdownMenu.classList.remove("opacity-100", "scale-100");
                dropdownMenu.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    dropdownMenu.classList.add("hidden");
                }, 300); // Wait for animation to complete before hiding

                // Rotate the arrow back down
                dropdownIcon.classList.remove("rotate-180");
            }
        });

        // Hide dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!toggleButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
                dropdownMenu.classList.remove("opacity-100", "scale-100");
                dropdownMenu.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    dropdownMenu.classList.add("hidden");
                }, 300);

                // Reset arrow to down position
                dropdownIcon.classList.remove("rotate-180");
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        const mobileDropdownButton = document.getElementById("mobileCompanyButton");
        const mobileDropdown = document.getElementById("mobileCompanyDropdown");
        const mobileDropdownIcon = document.getElementById("mobileDropdownIcon");
        const mobileArrowPath = document.getElementById("mobileArrowPath");

        mobileDropdownButton.addEventListener("click", function () {
            if (mobileDropdown.classList.contains("hidden")) {
                // Show dropdown with animation
                mobileDropdown.classList.remove("hidden");
                setTimeout(() => {
                    mobileDropdown.classList.remove("opacity-0", "scale-95");
                    mobileDropdown.classList.add("opacity-100", "scale-100");
                }, 10);

                // Rotate the arrow up
                mobileDropdownIcon.classList.add("rotate-180");
            } else {
                // Hide dropdown with animation
                mobileDropdown.classList.remove("opacity-100", "scale-100");
                mobileDropdown.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    mobileDropdown.classList.add("hidden");
                }, 300); // Wait for animation to complete before hiding

                // Rotate the arrow back down
                mobileDropdownIcon.classList.remove("rotate-180");
            }
        });

        // Hide dropdown when clicking outside
        document.addEventListener("click", function (event) {
            if (!mobileDropdownButton.contains(event.target) && !mobileDropdown.contains(event.target)) {
                mobileDropdown.classList.remove("opacity-100", "scale-100");
                mobileDropdown.classList.add("opacity-0", "scale-95");

                setTimeout(() => {
                    mobileDropdown.classList.add("hidden");
                }, 300);

                // Reset arrow to down position
                mobileDropdownIcon.classList.remove("rotate-180");
            }
        });
    });


    document.addEventListener("DOMContentLoaded", function () {
        const mobileMenu = document.getElementById("mobileMenu");
        const openMobileMenu = document.getElementById("openMobileMenu");
        const closeMobileMenu = document.getElementById("closeMobileMenu");
        const mobileBackdrop = document.getElementById("mobileBackdrop");

        // Open mobile menu when clicking the hamburger button
        openMobileMenu.addEventListener("click", function () {
            mobileMenu.classList.remove("hidden");
        });

        // Close mobile menu when clicking the close button
        closeMobileMenu.addEventListener("click", function () {
            mobileMenu.classList.add("hidden");
        });

        // Close mobile menu when clicking outside (on the backdrop)
        mobileBackdrop.addEventListener("click", function () {
            mobileMenu.classList.add("hidden");
        });
    });
</script>
</body>
</html>